*~
*.o
tmp*
a.out
cc_sakura
*.txt
*.s

testing/

test/hsjoihs_tmp/*.c
test/hsjoihs_tmp/*.s
test/hsjoihs_tmp/*.out

self_host/asem/*.s
self_host/asem/obj/*.o
self_host/child.s
self_host/child
self_host/*~
self_host/*.o
self_host/*.s
self_host/patch.c
self_host/target.c
self_host/tmp*
self_host/a.out
self_host/*.txt
self_host/gen*

self_host.c
child
self_host/

.gdb_history
