*~
*.o
tmp*
a.out
cc_sakura
*.txt

testing/
self_host/assemblies/*.s
self_host/assemblies/obj/*.o
self_host/child.s
self_host/child
self_host/*~
self_host/*.o
self_host/tmp*
self_host/a.out
self_host/*.txt
self_host/gen*

.gdb_history
